= content_for :page_header do
  %h1
    Requests
    = link_to 'New Request', new_request_path, class: 'btn btn-primary pull-right'

.container
  .row
    .span1
      .btn-group.btn-group-vertical{ data: { toggle: "buttons-radio" }}
        %a.btn.btn-large.btn-primary.active Music
        %a.btn.btn-large.btn-info Movies
        %a.btn.btn-large.btn-success TV Shows
        %a.btn.btn-large.btn-warning Software
        %a.btn.btn-large.btn-danger Games
        %a.btn.btn-large.btn-inverse Other
    .span9.offset1
      .requests#music
        %h3 Music Requests
        .request-content
      .requests#movies
        %h3 Movie Requests
        .request-content
      .requests#tv-shows
        %h3 TV Show Requests
        .request-content
      .requests#software
        %h3 Software Requests
        .request-content
      .requests#games
        %h3 Game Requests
        .request-content
      .requests#other
        %h3 Other Requests
        .request-content
