#new-music-request, #new-movies-request, #new-tv-shows-request,
  #new-software-request, #new-games-request, #new-other-request {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#request-alert {
  display: none;
}

.requests {
  display: none;
}

.vote {
  font-size: .9em;
  color: #888;
}

.blue {
  background-color: #0088cc;
}

.light-blue {
  background-color: #5bc0de;
}

.green {
  background-color: #62c462;
}

.orange {
  background-color: #fbb450;
}

.red {
  background-color: #ee5f5b;
}

.black {
  background-color: #e6e6e6;
}
